<h2 mat-dialog-title>{{tituloAccion}} Variedad </h2>
<mat-divider inset></mat-divider>
<mat-dialog-content>

    <form [formGroup]="formularioVariedad">
        <mat-grid-list cols="1" rowHeight="100px">

            <mat-grid-tile disable>
                <mat-form-field appearance="outline">
                    <mat-label>Codigo</mat-label>
                    <input matInput autocomplete="off" formControlName="idvariedad" readonly>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput autocomplete="off" formControlName="descripcion" autofocus>
                </mat-form-field>
            </mat-grid-tile>

        </mat-grid-list>
    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="formularioVariedad.invalid"
        (click)="GuardarEditar_Variedad()">{{botonAccion}}
    </button>
</mat-dialog-actions>
