<body>
  <mat-toolbar color="primary" style="display: flex">
    <mat-toolbar-row>
      <img src="./assets/img/logo.png" width="70px auto" style="background-size: cover;" fxHide.lt-sm fxShow>
      <label class="lbLogo2" fxHide.lt-sm fxShow>MolinoGestorWeb</label>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span style="flex: 1 1 auto;"></span>
      <label style="font-size: 14px; margin-right: 20px;">
        {{nombreUsuario}}</label>
      <button mat-icon-button (click)="CerrarSesion()"><mat-icon>logout</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56">
      <mat-nav-list>
        @for (item of menu; track item) {
        @if(item.children && item.children.length>0){
        <mat-accordion >
          <mat-expansion-panel class="mat-elevation-z1" >
            <mat-expansion-panel-header class="texto">
              <mat-panel-title  style="text-align: left;">
                <!-- Cabeceras del submenu -->
                <a >
                  <mat-icon class="material-icons">{{item.iconName}}</mat-icon>
                  &nbsp;{{item.displayName}}
                </a>
              </mat-panel-title>
            </mat-expansion-panel-header>
            @for (subitem of item.children; track subitem) {
              <!-- Entradas de cada submenú  -->
              <a mat-list-item routerLink={{subitem.route}}><span class="texto">
                <mat-icon class="material-icons">{{subitem.iconName}}</mat-icon>
                &nbsp;{{subitem.displayName}}</span>
              </a>
            }
          </mat-expansion-panel>
        </mat-accordion>
        }
        @if(!item.children || item.children.length === 0){
          <!-- Entradas principales -->
          <a mat-list-item routerLink={{item.route}}><span class="texto">
            <mat-icon class="material-icons">{{item.iconName}}</mat-icon>
            &nbsp;{{item.displayName}}</span>
          </a>
        }
        }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div style="height: 90vh">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</body>