<body>
<section class="left-form">
    <img src="./assets/img/logo.png" width="200px auto" height="200PX auto" style="background-size: cover;">
    <label class="lbLogo">MolinoGestorWeb</label>
</section>
<section class="right-form">

        <mat-card class="loginCard">
            <br>
            <div class="header">
                <h2  class="lbLogo2">MolinoGestorWeb</h2>
                <h4>Inicia sesión</h4>
            </div>
            <mat-card-content style="padding-bottom: 15px;">
                <form [formGroup]="formularioLogin" (ngSubmit)="iniciarSesion()">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Usuario o Email</mat-label>
                        <input formControlName="username" matInput>
                        <mat-icon matSuffix>person</mat-icon>
                    </mat-form-field>
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Contraseña</mat-label>
                        <input [type]="ocultarPassword ?'password':'text'" formControlName="password" matInput>
                        <button mat-icon-button matSuffix (click)="ocultarPassword= !ocultarPassword" type="button">
                            <mat-icon matSuffix>{{ocultarPassword ? 'visibility_off':'visibility'}}></mat-icon>
                        </button>
                    </mat-form-field>
                    <mat-checkbox>Recordar Contraseña</mat-checkbox>
                    <button class="full-width" mat-raised-button color="primary" type="submit"
                        [disabled]="formularioLogin.invalid">Ingresar
                        <mat-icon matSuffix>login</mat-icon>
                    </button>

                </form>
                <mat-label>¿ No tiene una cuenta ?</mat-label>
                <a href="#">Crear Cuenta</a>
            </mat-card-content>
            <mat-card-footer>
                @if (mostrarLoading) {
<mat-progress-bar mode="indeterminate"></mat-progress-bar>
}
            </mat-card-footer>
        </mat-card>

</section>
</body>